CREATE OR REPLACE TRANSIENT TABLE EDLDB_DEV.PET_HEALTH_ANALYTICS_SANDBOX.MY_RXP_TASK_INTERSECTIONS AS
WITH tasks AS (
    SELECT DISTINCT
        USER_ID,
        TASK_ID,
        STARTED_AT,
        CLOSED_AT
    FROM EDLDB_DEV.PET_HEALTH_ANALYTICS_SANDBOX.MY_RXP_TASKS
    WHERE USER_ID = '{{ user_id }}'
      AND TASK_ID IS NOT NULL
      AND STARTED_AT IS NOT NULL
      AND CLOSED_AT IS NOT NULL
      AND CLOSED_AT >= STARTED_AT
),
intersection_pairs AS (
    SELECT
        a.USER_ID,
        a.TASK_ID AS TASK_ID_A,
        a.STARTED_AT AS STARTED_AT_A,
        a.CLOSED_AT AS CLOSED_AT_A,
        b.TASK_ID AS TASK_ID_B,
        b.STARTED_AT AS STARTED_AT_B,
        b.CLOSED_AT AS CLOSED_AT_B,
        GREATEST(a.STARTED_AT, b.STARTED_AT) AS INTERSECTION_STARTED_AT,
        LEAST(a.CLOSED_AT, b.CLOSED_AT) AS INTERSECTION_CLOSED_AT
    FROM tasks AS a
    JOIN tasks AS b
        ON a.TASK_ID < b.TASK_ID
       AND a.STARTED_AT <= b.CLOSED_AT
       AND b.STARTED_AT <= a.CLOSED_AT
)
SELECT
    USER_ID,
    TASK_ID_A AS TASK_ID,
    TASK_ID_B AS INTERSECTING_TASK_ID,
    STARTED_AT_A AS STARTED_AT,
    CLOSED_AT_A AS CLOSED_AT,
    STARTED_AT_B AS INTERSECTING_STARTED_AT,
    CLOSED_AT_B AS INTERSECTING_CLOSED_AT,
    INTERSECTION_STARTED_AT,
    INTERSECTION_CLOSED_AT
FROM intersection_pairs

UNION ALL

SELECT
    USER_ID,
    TASK_ID_B AS TASK_ID,
    TASK_ID_A AS INTERSECTING_TASK_ID,
    STARTED_AT_B AS STARTED_AT,
    CLOSED_AT_B AS CLOSED_AT,
    STARTED_AT_A AS INTERSECTING_STARTED_AT,
    CLOSED_AT_A AS INTERSECTING_CLOSED_AT,
    INTERSECTION_STARTED_AT,
    INTERSECTION_CLOSED_AT
FROM intersection_pairs;
